body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}
/* Estructura del sitio */
header {
  background-color: #ff3b3c;
  height: 152px;
}
section {
  height: 340px;
}
main {
  height: auto;
}
footer {
  min-height: 368px;
  background-color: #7525a7;
}
.container {
  width: 1220px;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}
/* Hero section */
section#hero {
  height: 340px;
  background: url("assets/hero_bg.png");
  background-size: cover;
  background-position: top center;
}
section#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-container span {
  display: block;
  color: white;
  font-weight: 700;
}
.title-container span:first-child {
  font-size: 40px;
}
.title-container span:last-child {
  font-size: 100px;
  line-height: 80px;
}
/* Bloque de productos */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 7%;
  margin-bottom: 7%;
}
/* Card de producto */
.product-card {
  background-color: #f0f0f0;
  width: auto;
  border-radius: 14px;
  /*max-width: 25%; */
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}
.product-info {
  padding: 20px;
  box-sizing: border-box;
}
.product-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 22.27px;
  word-wrap: break-word;
  display: block;
}
.product-description {
  font-size: 12px;
  font-weight: 400;
  color: #383838;
  margin-bottom: 6px;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}
.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}
.product-tax-policy {
  font-size: 11px;
  font-weight: 300;
}
/* Header section */
.search {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input {
  height: 52px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
}
.search .social {
  display: flex;
  flex-direction: row-reverse;
}
.search .social ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.search .social ul li {
  display: flex;
  list-style-type: none;
  padding: 10px;
}
.nav {
  border-top: 3px solid #f0f0f0;
  padding: 10px 0;
  margin: 1%;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}
header .container {
  padding-top: 2%;
}
/* Footer section */
footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 2px solid #ba53fb; 
}
.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 2px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}
/* product page */
.products-container {
  display: flex;
  gap: 20px;
  padding: 50px;
}
.product-images {
  justify-content: center;
}
.product-images-big {
  width: 420px;
  height: 420px;
  overflow: hidden;
  margin-bottom: 10px; 
  border-radius: 14px;
  border: none; 
}
.product-images-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 100%;
  overflow: hidden; /* Asegúrate de que las imágenes no desborden el contenedor */
}
.product-images-block .thumbnail-container {
  width: 100px; /* ajusta el tamaño de las miniaturas según tus necesidades */
  overflow: hidden; /* Mantiene la imagen dentro del contenedor */
  margin: 0; /* Ajusta el margen según sea necesario */
  border: 1px solid #ccc; /* Opcional, si deseas bordes */
}
.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del contenedor */
  object-position: center center; /* Centra la imagen en el contenedor */
  border-radius: 4px;

}
.product-description-block {
  flex: 1;
}
.product-description-block .title {
  color: #333; /* Elige un color adecuado */
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}
.product-description-block .selector fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.product-description-block .selector select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.product-description-block .description {
  font-size: 14px;
  line-height: 20px;
}
.product-checkout-block {
  flex: 1;
  background-color: #ebebeb; /* Color de fondo claro */
  padding: 33px; /* Espaciado interno */
  border-radius: 2px; /* Bordes ligeramente redondeados */
}

.checkout-total-label {
  color: #ff3b3c; /* Color distintivo para el texto 'Total:' */
}
.checkout-total-price {
  font-size: 28px; /* Tamaño grande para el precio */
  font-weight: 700; /* Fuente en negrita */
  margin-top: 10px; /* Espacio por encima del precio */
}
.checkout-description {
  line-height: 20.4px; /* Espaciado de línea para mejorar la legibilidad */
  word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
}
.checkout-policy-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin-bottom: 30px; /* Espacio debajo de la lista */
}
.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
}
.checkout-policy-list li .policy-icon {
  margin-right: 15px; /* Espacio entre el ícono y el texto */
}
.checkout-process .top {
  display: flex; /* Alinea el input y el botón horizontalmente */
  margin-bottom: 10px; /* Espacio debajo del grupo superior */
}
.checkout-process .top input {
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}
.btn-primary {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}
.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}
.sales-title h2 {
  text-align: center; /* Alineación central para el título */
  margin-bottom: 42px; /* Espacio debajo del título */
  font-size: 40px; /* Tamaño de fuente grande para captar atención */
}
